//- doctype html
//- html
//-   head
//-     title Ashutosh Dance academy
//-     style
//-       include ../static/style.css

//-   body
//-      div#nav 
//-        ul
//-          div#logo 
//-            img(src="/static/logo.png", alt="")
//-            p ADA

//-          li #[a(href="/") Home]
//-          li #[a(href="/") About]
//-          li #[a(href="/") Service]
//-          li #[a(href="/") Class Info]
//-          li #[a(href="/") Contact Us]
//-      section#hero
//-        div#hero-continer 
//-          div#hero-text
//-            h2 Wellcome To ADA 
//-            p Ashutosh Dance Academy

        

       

  
       


